body {
  font-family: 'Archivo Black', sans-serif;
}

h1 {
  color: black;
  font-family: 'Zilla Slab Highlight', cursive;
  text-shadow: 3px 3px 2px lightcyan;
}

td,
.form-control {
  font-family: 'Archivo', sans-serif;
}

th {
  text-align: center;
}

.form-group,
th {
  text-shadow: 2px 2px lightcyan;
  font-size: 18px;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.background-image {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('../images/trainscreenshot.png');
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: lightcyan;
}

.btn {
  box-shadow: 1px 1px lightcyan;
}
