body {
  font-family: 'Archivo Black', sans-serif;
}

h1 {
  color: black;
  font-family: 'Zilla Slab Highlight', cursive;
}

td,
.form-control {
  font-family: 'Archivo', sans-serif;
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.background-image {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('../images/trainscreenshot.png');
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: lightcyan;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #909;
}